*{
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box ;
    font-family: 'Open Sans' !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
p{
    margin: 0;
}

:root{
    --primaryt: #EEEEEE;
    --secondaryt: #AAAAAA;
    --thirdt: #6D6D6D;
    --blue: #7734E7;
}

.constrain {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
.panel{
    width: 880px;
    /* padding: 60px; */
}
.panel-content{
    /* background-color: red; */
    padding-top: 50px;
}
.heading1{
    font-size: 32px;
    color: var(--primaryt);
}.heading2{
    font-size: 24px;
    color: var(--primaryt);
}.heading3{
    font-size: 16px;
    color: var(--secondaryt);
}.heading4{
    font-size: 13px;
    color: var(--thirdt);
}.section-title{
    font-weight: 600;
    letter-spacing: 0.03em;
}

/* About me box */
.img-hp{
    height: 100px;
    border: 1px solid #6F6161;
    border-radius: 7px;
}
.about-box{

    background: #7734E7;
    border-radius: 19px;
    padding: 20px 44px;
}
.pointer{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
}
.about-box .heading3{
    color: var(--primaryt) !important;
    font-weight: 100 !important;
}