*{
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box ;
}
html {
    scroll-behavior: smooth;
  }
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
p{
    margin: 0;
}

:root{
    --primaryt: #EEEEEE;
    --secondaryt: #AAAAAA;
    --thirdt: #6D6D6D;
    --blue: #7734E7;
}

.constrain {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
.panel{
    width: 880px;
    /* padding: 60px; */
}
.panel-content{
    /* background-color: red; */
    padding-top: 50px;
}
.heading1{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
/* identical to box height */

letter-spacing: 0.02em;
    color: var(--primaryt);
}.heading2{
    font-size: 28px;
    color: var(--primaryt);
}.heading3{
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-size: 14px;
    color: var(--secondaryt);
}.heading4{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: var(--thirdt);
    letter-spacing: 0.03em;
}.section-title{
    font-weight: 600;
    letter-spacing: 0.03em;
}.projBox .heading4{
    font-size: 12px;
}

/* About me box */
.img-hp{
    height: 100px;
    border: 1px solid #6F6161;
    border-radius: 7px;
}
.about-box{

    background: #7734E7;
    border-radius: 19px;
    padding: 20px 44px;
}
.pointer{
    width: 0; 
    height: 0;
    position: relative;
    top: 1rem!important;
    left: 40px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #7734E7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.about-box .heading3{
    color: var(--primaryt) !important;
}
.line{
    width: 100%;
    height: .08px;
    margin-top: 15px;
    background-color: #6D6D6D;
}

/* // project section */
.projBox{
    border: 1px solid #AAAAAA;
}
.code-logo{
    width: 21.08px;
    height: 18.21px;
}

/* // achievements section */

.point1{
    margin-left: -8.5px;
    display: flex;
    flex-direction: row;
}
.pointer_nonabs{
    align-self: center;
    flex-shrink: 0;
    width: 15px ;
    height: 15px ;
    border-radius: 100px;
    border: 3px solid #5A5A5A;
    background-color: #121212;
}
.main_points{
    margin-left: 8.5px;
    border-left: 3px solid #5A5A5A;
}

/* skill section css */
.skill_box{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    padding: 8px 10px;
    border: 1px solid #6D6D6D;
}

.footer_text{
    font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.02em;

/* secondary white */

color: #AAAAAA;
}



.left_scroll{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -40%;
    top: -10vh;
    transform: scale(.28);
}
.panel_left{
    height: 100vh;
    outline: 1px solid white;
}

/* // media quesry for size less than 1100px */
@media screen and (max-width: 1100px){
    .left_scroll{
        display: none;
    }
}