*{
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box ;
}


h1,h2,h3,h4{
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
p{
    margin: 0;
}

body,.left_constrain{
  overflow-x: hidden;
}

:root{
    --primaryt: #EEEEEE;
    --secondaryt: #AAAAAA;
    --thirdt: #6D6D6D;
    --blue: #7734E7;
}

.constrain {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}
.panel{
    width: 800px;
    /* padding: 60px; */
}
.panel-content{
    /* background-color: red; */
    padding-top: 50px;
}
.heading1{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
/* identical to box height */

letter-spacing: 0.02em;
    color: var(--primaryt);
}.heading2{
    font-size: 28px;
    color: var(--primaryt);
}.heading3{
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-size: 14px;
    color: var(--secondaryt);
}.heading4{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: var(--thirdt);
    letter-spacing: 0.03em;
}.section-title{
    font-weight: 600;
    letter-spacing: 0.03em;
}.projBox .heading4{
    font-size: 12px;
}
.heading1:hover,.heading2:hover{
    transform: scale(1.01);
    transition: .5s;
}

.draw_toggle{
    cursor: pointer;
}
/* About me box */
.img-hp{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 100px;
    border: 1px solid #6F6161;
    border-radius: 7px;
    transition: 1s;

}
/* // scale up on hover */
.img-hp:hover{
    transform: scale(1.1);
    transition: .5s;
}
.about-box{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: #7734E7;
    border-radius: 19px;
    padding: 20px 44px;
}
@media screen and (max-width: 768px) {
    .about-box{
        padding: 20px 20px;
    }
}
.pointer{
    width: 0; 
    height: 0;
    position: relative;
    top: 1rem!important;
    left: 40px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #7734E7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.about-box .heading3{
    color: var(--primaryt) !important;
}
.line{
    border-radius: 20px;
    width: 100%;
    height: .08px;
    margin-top: 15px;
    background-color: #6D6D6D;
}

/* // project section */
.projBox{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 1px solid #AAAAAA;
    border-radius: 2.5px;
}
.code-logo{
    width: 21.08px;
    height: 18.21px;
}

/* // achievements section */

.point1{
    margin-left: -8.5px;
    display: flex;
    flex-direction: row;
}
.pointer_nonabs{
    align-self: center;
    flex-shrink: 0;
    width: 15px ;
    height: 15px ;
    border-radius: 100px;
    border: 3px solid #5A5A5A;
    background-color: #121212;
}
.main_points{
    margin-left: 8.5px;
    border-left: 3px solid #5A5A5A;
}

/* skill section css */
.skill_box{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    border-radius: 2.5px;
    padding: 8px 10px;
    border: 1px solid #6D6D6D;
}
.main_skill_box{
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.m_skill{
    width: 300px;
    padding: 8px 10px;
    border: 1px solid #6D6D6D;
}.m_skill_down{
    display: none;
}
.main_skill_box:hover .m_skill_down{
    display: block;

}

.footer_text{
    font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.02em;

/* secondary white */

color: #AAAAAA;
}



.left_scroll{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -40%;
    top: -10vh;
    transform: scale(.28);
}
.panel_left{
    cursor: pointer;
    height: 100vh;
    outline: 1px solid white;
}

/* // media quesry for size less than 1100px */
@media screen and (max-width: 1100px){
    .left_scroll,.socials_sidebar{
        display: none;
    }
}
@media screen and (min-width: 1400px){
    .panel_left{
        outline: 2px solid white;
    }
}

.testimonials{
    overflow-x: hidden;
}

#image-track {
    display: flex;
    gap: 4vmin;
    transform: translateX(-50%); 
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    border-radius: 1px;
    object-fit: cover;
    object-position: 100% center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* ul{
    padding-left: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    }
  ul li {
    
    list-style:none;
  }
  ul li a {
    display:block;
    position:relative;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color: var(--secondaryt);
    margin: 0 10px;
    transition:.5s;
  }
  ul li a span {
    position:absolute;
    transition: transform .5s;
  }
  ul li a span:nth-child(1),
  ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#404040;
  }
  ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#404040;
  }
  ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }
  
  .facebook:hover {
    color: #3b5998;
  }
  .facebook:hover span { 
    background: #3b5998;
  }
  .twitter:hover {
    color: #1da1f2;
  }
  .twitter:hover span { 
    background: #1da1f2;
  }
  .instagram:hover {
    color: #c32aa3;
  }
  .instagram:hover span { 
    background: #c32aa3;
  }
  .google:hover {
    color: #dd4b39;
  }
  .google:hover span { 
    background: #dd4b39;
  }
  ul li a .twitter {
    color: #1da1f2;
  }
  ul li a:hover:nth-child(3) {
    color: #c32aa3;
  }
  ul li a:hover:nth-child(4) {
    color: #dd4b39;
  } */

  .social-media-panel {
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .social-media-button {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    background-color: #121212;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .social-media-button:hover {
    background-color: var(--blue);
    border: none;
  }
  
  .social-media-links {
    display: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .social-media-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .social-media-links a:hover {
    background-color: var(--blue);
  }
  
  .social-media-panel.open .social-media-links {
    display: flex;
    flex-direction: column;
  }
  